@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,400i,500|Anton:400|Source+Code+Pro:400";

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*MAIN*/
html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 45px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  color: dimgrey;
}

/*HEADERS AND TEXT*/
h1,
h2,
h3 {
  margin: 15px 0;
  font-family: 'Open Sans';
  font-weight: 300;
}

h1 {
  font-weight: 400;
  font-family: 'Anton';
  font-size: 45px;
  color: slateblue;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-size: 25px;
  letter-spacing: 1px;
}

p {
  margin: 10px 0;
  color: dimgrey;
  display: flex;
}

span {
  color: dimgrey;
}

code {
  font-family: 'Source Code Pro';
  color: black;
  background: #ededed;
  padding: 0px 5px 0px 5px;
}

pre {
  padding: 5px;
  overflow: auto;
  background: #ededed;
}
pre code {
  padding: 0px;
}

i.fa {
  color: orange;
}

i.fa-upload {
  color: whitesmoke;
}

img {
  width: auto;
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: 1em auto;
}

/*INPUT METHODS*/
button,
.btn {
  padding: 15px;
  margin: 0 10px 10px 0;
  display: inline-block;
  border: 0px solid dimgrey;
  background: slateblue;
  color: whitesmoke;
  outline: none;
  transition: all 0.25s, transform 0.1s;
}
button:hover,
.btn:hover {
  background: slateblue;
  color: whitesmoke;
}
button:active,
.btn:active {
  background: slateblue;
  transform: scale(0.8);
}

input[type='text'], input[type='number'], select {
  padding: 15px;
  margin: 0 10px 10px 0px;
  border: 0px solid dimgrey;
  background: gainsboro;
  color: whitesmoke;
  outline: none;
  transition: all 0.25s;
}
input[type='text']:hover, input[type='number']:hover, select:hover {
  background: darkgray;
}
input[type='text']:focus, input[type='number']:focus, select:focus {
  background: slateblue;
  color: whitesmoke;
}
input[type='text']:focus::-webkit-input-placeholder, input[type='number']:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: whitesmoke;
}
input[type='text']:focus::-moz-placeholder, input[type='number']:focus::-moz-placeholder, select:focus::-moz-placeholder {
  color: whitesmoke;
}
input[type='text']:focus:-ms-input-placeholder, input[type='number']:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
  color: whitesmoke;
}
input[type='text']:focus:-moz-placeholder, input[type='number']:focus:-moz-placeholder, select:focus:-moz-placeholder {
  color: whitesmoke;
}

a {
  box-sizing: border-box;
  color: slateblue;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  font-size: 15px;
}

/*MISC*/
.inline {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: slateblue;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: crimson;
}
::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0px 0px 5px #67091c;
}
::-webkit-scrollbar-track {
  background: lightgrey;
  border: 0px none darkgrey;
  border-radius: 0px;
  box-shadow: inset 0px 0px 5px dimgrey;
}
::-webkit-scrollbar-track:hover {
  background: lightgrey;
}
::-webkit-scrollbar-track:active {
  box-shadow: inset 0px 0px 8px dimgrey;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*RANGE*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: slateblue;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-fill-upper {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: slateblue;
}

input[type=range]:focus::-ms-fill-upper {
  background: slateblue;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: slateblue;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-fill-upper {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: slateblue;
}

input[type=range]:focus::-ms-fill-upper {
  background: slateblue;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: slateblue;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
  background: slateblue;
  border-radius: 20.1px;
  border: 0px solid white;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-fill-upper {
  background: slateblue;
  border: 0px solid white;
  border-radius: 40.2px;
  box-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px dimgray, 0px 0px 0px dimgray;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: lightgray;
  cursor: pointer;
  height: 8px;
}

input[type=range]:focus::-ms-fill-lower {
  background: slateblue;
}

input[type=range]:focus::-ms-fill-upper {
  background: slateblue;
}

/*LAYOUT*/
.box {
  display: block;
  width: 100%;
}
.box::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
.box > div {
  display: inline-block;
  width: 50%;
  overflow: auto;
  float: left;
}
.box > div:nth-child(odd) {
  padding-right: .5em;
}
.box > div:nth-child(even) {
  padding-left: .5em;
}

.MuiSlider-root {
  width: 50% !important;
}

/*MEDIA*/
@media only screen and (max-width: 720px) {
  body {
    padding: 15px;
  }

  .box > div {
    display: block;
    width: 100%;
    padding: 0 0 !important;
    float: none;
  }
}
.fullwidth {
  width: 100%;
  max-width: 500px;
  max-height: 800px;
}

#imgFile {
  display: none;
}

.local-disk {
  display: table;
}

input[type=text], input[type=range] {
  width: 50%;
}

h3 > i.fa {
  margin-right: .2em;
}
